<?xml version="1.0"?>
<!--
/**
 * Copyright © WebePower LLC. All rights reserved.
 * See COPYING.txt for license details.
 * http://www.webepower.biz | support@webepower.biz
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="webepower" translate="label" sortOrder="400">
            <label>WebePower</label>
        </tab>
        <section id="googletagmanager" translate="label" type="text" sortOrder="340" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Google Tag Manager</label>
            <tab>webepower</tab>
            <resource>Webepower_GoogleTagManager::googletagmanager</resource>           
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Google Tag Manager</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="account" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account Number</label>
                    <comment>e.g GTM-XXXXXX</comment>
                    <validate>required-entry validate-no-html-tags</validate>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>              
            </group>
            
        </section>
    </system>
</config>
